Babel==2.2.0
CDDB==1.4
Flask==0.10.1
Flask-Bootstrap==3.3.5.7
GeoIP-Python==1.2.4
Jinja2==2.7.2
Magic-file-extensions==0.2
MarkupSafe==0.18
Pillow==2.3.0
PyICU==1.5
PyYAML==3.11
Pygments==1.6
Sphinx==1.2.2
WebOb==1.3.1
Werkzeug==0.11.3
argparse==1.2.1
ass==0.4.1
backports.ssl-match-hostname==3.5.0.1
ccsm==0.9.8.6
chardet==2.0.1
cliff==1.15.0
colorama==0.2.5
compizconfig-python==0.9.8.6
cssselect==0.9.1
debtcollector==1.2.0
decorator==3.4.0
deepin-gsettings==0.1
deepin-menu==0.1
deepin-utils==1.0
docutils==0.11
dominate==2.1.16
dtk==1.0.3
easywebdav==1.2.0
elasticsearch==2.2.0
funcsigs==0.4
google-api-python-client==1.4.2
html5lib==0.999
httplib2==0.9.2
ipaddr==2.1.11
ipython==1.2.1
iso8601==0.1.11
itsdangerous==0.24
jieba==0.36.2
keystoneauth1==2.2.0
lxml==3.3.3
monotonic==0.5
mutagen==1.22
netaddr==0.7.18
netifaces==0.10.4
numpy==1.8.2
oauth2client==1.5.2
oauthlib==0.6.1
os-client-config==1.13.1
oslo.config==3.2.1
oslo.i18n==3.2.0
oslo.serialization==2.2.0
oslo.utils==3.4.0
pbr==1.8.1
peewee==2.4.4
pexpect==3.1
prettytable==0.7.2
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycrypto==2.6.1
pycups==1.9.66
pycurl==7.19.3
pygobject==3.14.0
pyocclient==0.1
pyquery==1.2.8
pyslack-real==0.6.0
pysmbc==1.0.14.1
pysrt==1.0.1
python-apt==0.9.1ubuntu2
python-cinderclient==1.5.0
python-glanceclient==1.2.0
python-heatclient==0.8.0
python-keystoneclient==2.1.1
python-memcached==1.57
python-neutronclient==4.0.0
python-novaclient==3.2.0
python-swiftclient==2.7.0
python-xlib==0.14
pytz==2015.7
requests==2.2.1
requests-oauthlib==0.4.0
roman==2.0.0
rsa==3.3
scipy==0.13.3
simplegeneric==0.8.1
simplejson==3.8.1
six==1.5.2
slackclient==0.16
stevedore==1.10.0
unittest-data-provider==1.0.1
uritemplate==0.6
urllib3==1.7.1
vboxapi==1.0
virtualenv==14.0.3
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.1
visitor==0.1.2
warlock==1.2.0
websocket-client==0.35.0
wheel==0.24.0
wrapt==1.10.6
wsgiref==0.1.2
xappy==0.5
xpybutil==0.0.1
